setuptools>=70
Flask==3.0.0
pandas>=2.2.0
yfinance>=0.2.59
gunicorn==21.2.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml>=5.1.0
html5lib==1.1
numpy>=1.26.4
scipy>=1.11.0
apscheduler>=3.10.0
pytz>=2024.1
